<%- include('includes/admin-panel/top-most.ejs') %>
    <title>Bootstrap demo</title>
    <%- include('includes/admin-panel/nav-bar.ejs') %>
    csdbjfwbejf

    <%- include('includes/admin-panel/footer.ejs') %>